---
title: Welcome to Chuangs Laundry
---

<a href="https://github.com/timstott/lotus-rouge" id="forkme">
  <%= image_tag('forkme.png') %>
</a>

<table id="container">
  <!-- HEADER -->
  <tr id="header">
    <%= partial 'header' %>
  </tr>

  <tr>
    <!-- LEFT ASIDE -->
    <td>
    </td>

    <!-- CENTER -->
    <%= partial 'center' %>
  </tr>

  <!-- FOOTER -->
  <tr id="footer">
    <td>
      FOOTER
      <img id="chicken" src="<%= image_path('chicken.gif') %>" >

    </td>
  </tr>
</table>

<!-- THE BACKGROUND MUSIC -->
<audio src="background_music.mp3" <%= development? ? '' : 'autoplay' %>></audio>
